<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literatura Indígena</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../index.css">

</head>
<body>
    <header>
        <h2>Desafios para a valorização de comunidades e povos tradicionais no Brasil</h2>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Início</a></li>
            <li><a href="culinaria.html">Culinária indígena</a></li>
            <li><a href="agricultura.html">Agricultura e Caça indígena</a></li>
            <li><a href="espiritualidade.html">Espiritualidade Indígena</a></li>
            <li><a class="active" href="literatura.html">Literatura Indígena</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="">
            <div class="meiuca">
                <img src="./ibages/2.jpeg" alt="PS5">
            </div>
            <div class="meiuca">
                <p><h1>SSD ultrarrápido</h1></p>
                <p><h2>Maximize suas sessões de jogo com tempos de carregamento praticamente instantâneos para jogos do PS5™ instalados.</h2></p>
                <p><h1>E/S integrada</h1></p>
                <p><h2>A integração personalizada dos sistemas de console PS5 permite que os criadores extraiam dados do SSD tão rápido que eles podem desenvolver jogos de formas que antes seriam impossíveis.</h2></p></h2></p>
                <p><h1>  Recurso do do console PS5 - Compatibilidade: </h1></p>
                <p><h2>Jogue vários jogos do PS4™ em seu console PS5</h2></p>
                <p><h1>Jogo turbinado</h1></p>
                <p><h2>Curta taxas de quadros mais rápidas e uniformes em jogos selecionados do PS4 e do PS VR.</h2></p>
                <p><h1>Atualize jogos do PS4 para jogos digitais do PS5</h1></p>
                <p><h2>È possível que os jogadores atualizem seus jogos em disco e digitais do PS4 para jogos digitais do PS5.1</h2></p>
            </div>
        </div>
        </div>
    <footer>
            <ul>
                <li>Jéssica Tauany</li>
                
            </ul>
    </footer>
</body>
</html>